{% extends 'base.html' %}
{% block title %}Profile{% endblock  %}
{% block content %}


<h2>{{ profile.name }}'s Page</h2>

<p>Username: {{ request.user }}</p>

<p>Current City: {{ profile.current_city }}</p>
<p>Past Cities: {{ profile.past_cities }}</p>
<p>Joined: {{ profile.join_date }}</p>


{% for post in posts %}
<a href="{% url 'posts_detail' post.id %}">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ post.title }}</span>
      <p>{{ post.author }}</p>
      <p>{{ post.post_date }}</p>
      <p>{{ post.content }}</p>
    </div>
  </div>
</a>
{% endfor %}

<a class="btn" href="{% url 'update_profile' %}">Update Profile</a>

{% endblock  %}
