{% extends 'base.html' %} 
{% block title %}Profile{% endblock %}

{% block content %}

<span class="rotate">
  <h2>{{ profile.name }}'s Page</h2>
</span>


{% for post in posts %}
<a href="{% url 'posts_detail' post.id %}">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ post.title }}</span>
      <p>{{ post.author }}</p>
      <p>{{ post.post_date }}</p>
      <p>{{ post.content }}</p>
    </div>
  </div>
</a>
{% endfor %}

<div class="profile-cont">
  <p >Username: {{ request.user }}</p>
  <p >Profile Pic: <img class='img-fluid' src=' {{ profile.pic.cdn_url }} '/>
  <p >Current City: {{ profile.current_city }}</p>
  <p >Past Cities: {{ profile.past_cities }}</p>
  <p >Joined: {{ profile.join_date }}</p>
  <a class="btn" href="{% url 'update_profile' %}">Update Profile</a>
</div>


{% endblock %}
