{% extends 'base.html' %}
{% block title %}About{% endblock  %}
{% block content %}



<span  class="rotate">
    <h1>About</h1>
</span>
<div class="about-cont">
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="https://picsum.photos/seed/picsum/200/300">
                </div>
                    <span class="card-title">Jia Cooper</span>
                <div class="card-content">
                    <p class="about-text">I am a very simple card. I am good at containing small bits of information.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="https://picsum.photos/seed/picsum/200/300">
                </div>
                    <span class="card-title">Elias Baez</span>
                <div class="card-content">
                    <p class="about-text">I am a very simple card. I am good at containing small bits of information.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="https://picsum.photos/seed/picsum/200/300">
                </div>
                    <span class="card-title">Simone Poe</span>
                <div class="card-content">
                    <p class="about-text">I am a very simple card. I am good at containing small bits of information.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="https://picsum.photos/seed/picsum/200/300">
                </div>
                    <span class="card-title">Chris Zalapa</span>
                <div class="card-content">
                    <p class="about-text">I am a very simple card. I am good at containing small bits of information.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
