// --------------------------------------- Colors
$wash-black: #292831;
$dark-blue: #333f58;
$light-blue: #4a7a96;
$orange-pink: #ee8695;
$light-peach: #fbbbad;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    
// --------------------------------------- Gradient Vibe
    background-image: 
    linear-gradient(360deg, $wash-black, $light-blue, $orange-pink);
}

html {
    font-family: 'Courier New', Courier, monospace;
}

main {
    flex: 1 0 auto;
    justify-content: space-between;
}

.container {
    display: flex;

}

// --------------------------------------- Titles
.rotate {
    writing-mode: vertical-lr;
    transform:scale(1);
    width:60px;
    // margin-right:50px;
    text-orientation: upright;
}

h1 {
    color: white;
    padding: 0;
    border-left: 3px solid white;
    height: fit-content;
    margin-top: 285px;
}

.welcome-outline {
    border-left: 3px solid white;
    margin-top: 0;

}

p {
    color: white;
    margin-left: 10px;
    font-size: medium;
}

// --------------------------------------- Nav-Bar
nav {
    box-shadow: none;
    background-color: transparent;
}

nav ul {
    display: flex;
}

.logo {
    display: flex;
}

.nav-wrapper {
    background-color: transparent;
}

.brand-logo {
    display: flex;
}

// --------------------------------------- Forms
form {
    width: 450px;
    margin-left: 50px;
}

.form-cont {
    position: absolute;
    top: 450px;
    left: 450px;
}

input {
    border-bottom: $dark-blue;
}

label {
    color: white;
    margin-top: 25px;
    margin-bottom: 50px;
}

#id_username {
    color: white;
}

.btn, .btn-large, .btn-small {
    background-color: transparent;
    margin-left: 10px;
    margin-top: 10px;
}

.btn:hover {
    background-color: $dark-blue;
}

.helptext {
    display: none;
}

// --------------------------------------- About Card
.about-cont {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-top: 284px;
    
}

.card {
    width: 200px;
    height: 300px;
    justify-content: space-evenly;
}

.row {
    height: fit-content;
    align-self: start;
}

.about-text {
    font-size: 12px;
}

// --------------------------------------- Footer
footer {
    padding-top: 0;
    text-align: right;
}

.page-footer {
    background-color: transparent;
}

// --------------------------------------- Tablet & Under
@media (max-width: 500px) {
    .navbar-fixed {
        height: 110px;
    }

    .brand-logo {
        flex-direction: column;
    }
}