// --------------------------------------- Colors
$wash-black: #292831;
$dark-blue: #333f58;
$light-blue: #4a7a96;
$orange-pink: #ee8695;
$light-peach: #fbbbad;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    
// --------------------------------------- Gradient Vibe
    background-image: 
    linear-gradient(360deg, $wash-black, $light-blue, $orange-pink);
    background-size: cover;
}

html {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100%;
}

main {
    flex: 1 0 auto;
    justify-content: space-between;
}

.container {
    display: flex;

}

// --------------------------------------- Titles
.rotate {
    writing-mode: vertical-lr;
    transform:scale(1);
    width:60px;
    text-orientation: upright;
}

span.rotate {
    height: fit-content;
}

h1, h2 {
    color: white;
    padding: 0;
    border-left: 3px solid white;
    height: fit-content;

}

.welcome-outline {
    border-left: 3px solid white;
    margin-top: 0;

}

p {
    color: white;
    margin-left: 10px;
    font-size: medium;
}

// --------------------------------------- Nav-Bar
nav {
    box-shadow: none;
    background-color: transparent;
}

nav ul {
    display: flex;
}

.logo {
    display: flex;
}

.nav-wrapper {
    background-color: transparent;
}

.brand-logo {
    display: flex;
}

// --------------------------------------- Forms
form {
    width: 450px;
    margin-left: 50px;
}

.form-cont {
    height: fit-content;
    margin-top: 100px;
    margin-right: 500px;
}

input {
    border-bottom: $dark-blue;
}

label {
    color: white;
    margin-top: 25px;
    margin-bottom: 50px;
}

#id_username {
    color: white;
}

.btn, .btn-large, .btn-small {
    background-color: transparent;
    margin-left: 10px;
    margin-top: 10px;
}

.btn:hover {
    background-color: $dark-blue;
}

.helptext {
    display: none;
}

.red-text {
    color: white !important;
    height: 150px;
}

// --------------------------------------- About Cards
.parent-card {
    display: inline-flex;
    flex-wrap: wrap;
    height: 945px;
    margin-top: 27px;
}

.card1 {
    width: 425px;
    max-height: 454px;
    margin: 5px;
}

.card {
    width: 200px;
    height: 300px;
    justify-content: space-evenly;
}

.row {
    height: 444px;
}

.about-text {
    font-size: 12px;
}

.card-content {
    max-height: 200px;
}

.col {
    max-height: 444px;
}

// --------------------------------------- Profile
.profile-cont {
    position: absolute;
    top: 570px;
    left: 500px;

    p {
        font-size: x-large;
    }

    .btn {
        margin-top: 25px;
    }
}

// --------------------------------------- Truncate
.truncate {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
    -webkit-box-orient: vertical;
}

footer {
    padding-top: 0;
    text-align: right;
}

.page-footer {
    background-color: transparent;
}

// --------------------------------------- Tablet & Under
@media (max-width: 500px) {
    .navbar-fixed {
        height: 110px;
    }

    .brand-logo {
        flex-direction: column;
    }
}