* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#292831), color-stop(#4a7a96), to(#ee8695));
  background-image: linear-gradient(360deg, #292831, #4a7a96, #ee8695);
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  font-family: 'Courier New', Courier, monospace;
  min-height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rotate {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 60px;
  text-orientation: upright;
}

span.rotate {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

h1, h2 {
  color: white;
  padding: 0;
  border-left: 3px solid white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.welcome-outline {
  border-left: 3px solid white;
  margin-top: 0;
}

p {
  color: white;
  margin-left: 10px;
  font-size: medium;
}

nav {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-wrapper {
  background-color: transparent;
}

.brand-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form {
  width: 450px;
  margin-left: 50px;
}

.form-cont {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 100px;
  margin-right: 500px;
}

input {
  border-bottom: #333f58;
}

label {
  color: white;
  margin-top: 25px;
  margin-bottom: 50px;
}

#id_username {
  color: white;
}

.btn, .btn-large, .btn-small {
  background-color: transparent;
  margin-left: 10px;
  margin-top: 10px;
}

.btn:hover {
  background-color: #333f58;
}

.helptext {
  display: none;
}

.red-text {
  color: white !important;
  height: 150px;
}

.parent-card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 945px;
  margin-top: 27px;
}

.parent-card .card1 {
  width: 425px;
  max-height: 454px;
  margin: 5px;
}

.parent-card .card {
  width: 200px;
  height: 300px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.row {
  height: 444px;
}

.about-text {
  font-size: 12px;
}

.card-content {
  max-height: 200px;
}

.col {
  max-height: 444px;
}

.profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 65%;
  position: absolute;
  top: 30%;
  right: 10%;
}

.profile-cont {
  position: absolute;
  top: 10%;
  left: 25%;
}

.profile-cont p {
  font-size: x-large;
}

.profile-cont .btn {
  margin-top: 25px;
}

.posts-div {
  height: 225px;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.posts-div .card {
  width: 100%;
  height: 200px;
}

.posts-div .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.posts-div .card-content div:nth-of-type(1) {
  width: 23%;
  border-right: 1px solid white;
  margin-right: 10px;
}

.posts-div .card-content div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts-div::-webkit-scrollbar {
  background-color: transparent;
}

.posts-div::-webkit-scrollbar-corner {
  background-color: transparent;
}

.posts-div::-webkit-scrollbar-thumb {
  background-color: #4a7a96;
  border-radius: 5px;
}

.comments-div {
  height: 225px;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.comments-div .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-div .card-content div:nth-of-type(1) {
  width: 23%;
  border-right: 1px solid white;
  margin-right: 10px;
}

.comments-div .card-content div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments-div .card {
  width: 100%;
  height: 200px;
}

.comments-div::-webkit-scrollbar {
  background-color: transparent;
}

.comments-div::-webkit-scrollbar-corner {
  background-color: transparent;
}

.comments-div::-webkit-scrollbar-thumb {
  background-color: #4a7a96;
  border-radius: 5px;
}

ul.errorlist.nonfield {
  color: white !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  font-size: x-large;
}

div.city-img {
  height: 400px;
  margin-top: 41px;
  margin-left: 5%;
  margin-right: 5%;
}

div.city-img .btn, div.city-img .btn-large, div.city-img .btn-small {
  background-color: transparent;
  margin-left: 0 !important;
  margin-top: 10px;
}

.city-cont {
  display: block;
  width: 82%;
  margin-top: 42px;
}

.city-cont p {
  margin-bottom: 25px;
}

.city-cont a {
  color: white;
  font-size: x-large;
}

a {
  color: white;
  font-size: x-large;
}

.truncate {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
}

.truncate-comment {
  display: -webkit-box;
  white-space: pre-wrap;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

footer {
  padding-top: 0;
  text-align: right;
}

.page-footer {
  background-color: transparent;
}

@media (max-width: 500px) {
  .navbar-fixed {
    height: 110px;
  }
  .brand-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */