{% extends 'base.html' %}
{% block title %} | Edit Comment{% endblock %}

{% block content %}

{% comment %} <span><a href="{% url 'cities_detail' post.city.id %}" class="white-text"><-<span class="rotate">Back To City Page</span></a></span> {% endcomment %}
  {% comment %} <span class="rotate white-text">Edit Comment</span>
  <h1 class="rotate">{{ comment.parent_post.city.name }}</h1> {% endcomment %}

<h1 class="rotate">Edit Comment</h1>

<form method="post" action="{% url 'update_comment' comment.parent_post.city.id comment.parent_post.id comment.id %}">
  {% csrf_token %}
  {{ comment_form.as_p }}
  <input type="submit" class="btn" value="Edit Comment">
</form>

{% endblock %}
    