{% extends 'base.html' %}
{% block title %}Post{% endblock %}

{% block content %}
<span><a href="{% url 'cities_detail' post.city.id %}" class="white-text"><-Back To City Page</a></span>
<h1>{{ post.city.name }}</h1>
<h2>{{ post.title }}</h2>
<div>Author: {{ post.author.user }}</div>
<div>{{ post.post_date }}</div>
<div>{{ post.content }}</div>
<!-- <div>{{ post.hashtags }}</div> -->
<div>{{ posts.city }}</div>


<div class="comments-section">
  {% for comment in comments %}
    <div class="card pink">
      <div class="card-content">
        <span class="card-title">{{ comment.title }}</span>
        <p>{{ comment.author }} - {{ comment.post_date }}</p>
        <p>{{ comment.content }}</p>
        {% if request.user.id == comment.author.id %}
          <a class="waves-effect waves-light btn modal-trigger pink" href="#modal1">Delete Comment</a>
          <div class="modal" id="modal1">
            <div class="modal-content">
              <h4>Are you sure you want to delete this comment?</h4>
            </div>
            <div class="modal-footer">
              <form action="{% url 'delete_comment' post.id comment.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn" value="Yes">
                <a href="{% url 'posts_detail' post.id %}" class="btn blue">No</a>
              </form>
            </div>
          </div>
          <a href="{% url 'update_comment' post.city.id post.id comment.id %}" class="btn">Edit Comment</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  {% if user.is_authenticated %}
  <a href="{% url 'add_comment' post.city.id post.id %}" class="btn">Add Comment</a>
  {% endif %}
  <p>Total comments: {{ num_comments }}</p>
</div>

{% if post.author.id == request.user.id %}
<a class="waves-effect waves-light btn modal-trigger pink" href="#modal2">Delete Post</a>
<div class="modal" id="modal2">
  <div class="modal-content">
    <h4>Are you sure you want to delete this post?</h4>
  </div>
  <div class="modal-footer">
    <form action="{% url 'delete_post' post.id %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="btn" value="Yes">
      <a href="{% url 'posts_detail' post.id %}" class="btn blue">No</a>
    </form>
  </div>
</div>
<a href="{% url 'edit_post' post.id %}" class="btn">Edit Post</a>
{% endif %}

{% endblock %}
